.wp-pretty-filters {

	float: none;
	clear: both;

	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 9pt 0 5px;
	padding: 10px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border: 1px solid #e5e5e5;
	background: #fff;
	color: #555;
	font-size: 13px;
}
